:root{

    --secondary-purple: #565AC5;
    --background-color:#23273E;
    --white-smoke: #ECECEC;
    --dark: #141313; 
}

#movieDetail{

    width: 100%;
    display: grid;
    place-items: center;
}

.description-movie{

    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
    padding: 8px;
    color: var(--white-smoke);
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
    
}
.selectMovie-img{

    width: 270px;
    grid-area: 1/1/2/3;
}

.movieDetail-score i{

    margin-right: 4px;
}

.movieDetail-description{

    grid-area: 3/1/4/3;
}

.inactive{
    display: none !important;
}

.movie-categories{
    
    width: 100%;
    grid-area: 4/1/5/3;
    display: flex;
    flex-wrap: wrap;
    
}

.relatedMovies-container{
    
    gap: 16px;
    
}