:root{

    --secondary-purple: #565AC5;
    --background-color:#23273E;
    --white-smoke: #ECECEC;
    --dark: #141313;
    --lg-size: 28px;
    --md-size: 20px;
    --sm-size: 16px;
}

/*general*/

body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
    background-color: var(--background-color);
}

h1,h2,h3,p,i, span{
    color: var(--white-smoke);
}

h1{

    font-size: var(--lg-size);
}

h2{
    font-size: var(--md-size);
}

h3,p{

    font-size: var(--sm-size);
}

.skeleton-loading{
    
    background-color: #c6c6c6;
    animation: gradient infinite 1.5s;
}

@keyframes gradient {
    
    0%, 100%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
}

.buttons-container{

    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 8px 0 0 8px;
    position: relative;
    top: 35px;
    left: 215px;
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
}

/*Header section*/

#header{

    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

.header-title-container{

    padding: 16px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 8px;
    margin-top: 10px;
}

.header-title{

    margin-left:12px;
}

#clapperboardHeader{

    font-size: 30px;
    
}

.header-title--categoryView{

    margin-left: 20px;
}
.form-container{

    display: grid;
    place-items: center;
    margin: 28px 0;
}

#searchForm {

    width: 280px;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 55px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 0px 0px 4px 3px rgba(255, 255, 255, 0.25);
    border-radius: 12px;
}

#searchForm input{

    border-radius: 12px 0 0 12px;
    border: none;
    outline: none;
    text-align: center;
}

#searchForm input::placeholder{

    text-align: center;
    font-size: var(--sm-size);
}

.searchHeader-button{

    border-radius: 0 12px 12px 0;
    border: none;
    background-color: var(--secondary-purple);
}

.fa-magnifying-glass{

    font-size: 25px;
}

.up-button{

    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: var(--secondary-purple);
    border-radius: 50%;
    border: none;
    position: fixed;
    bottom: 50px;
    right: 10px;
}

.up-button i{

    font-size: 20px;
    text-align: center;
}

#header-arrow{

    position: absolute;
    left: 16px;
}

.lang-icon{

    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 24px;
}

.deploy-menu{

    position: absolute;
    top: 8px;
    right: 42px;
    font-size: 20px;
}

.langs-options--container{

    width: 120px;
    background-color: var(--white-smoke);
    display: grid;
    place-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 12px;
    position: absolute;
    top: 33px;
    right: 7px;
    z-index: 2;
}

.langs-options--container hr{

    width: 80%;
}

/*Trending Preview Section*/

.trendingPreview-header{

    display: flex;
    align-items: center;
    margin-left: 12px;
    gap: 12px;
}


.trendingPreview-title{

    font-weight: 400;
    text-align: center;

}

.trendingPreview-btn{

    width: 45px;
    height: 30px;
    border: 1px solid var(--white-smoke);
    background-color: transparent;
    color: var(--white-smoke);
    border-radius: 8px;
    
}

.trendingPreview-movieList, 
.liked-movieList{

    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    margin-left: 16px;
    overflow-x: scroll;
    overflow-y: hidden;

}

.movie-container{

    width: 250px;
    height: 375px;

}

.movie-img{

    width: 100%;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.category-container{

    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
    margin-right: 12px;
}

/*categories Section*/

#categoriesSection{

    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(52px,1fr));
    
}

.categories-title{
    
    display: flex;
    align-items: center;

}

.categories-title h2{

    margin-right: 12px;
    margin-left: 12px;
}

.clapperboardCategories{

    font-size: 20px;
}

.category-container{

    display: flex;
    align-items: center;
    margin-left: 12px;
    gap: 12px;
}

/*generic list*/

#genericList{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding-top: 16px;
    margin-bottom: 60px;
}

/*Movie detail section*/

#movieDetail{

    width: 100%;
    display: grid;
    place-items: center;
}

.description-movie{

    margin-bottom: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
    padding: 8px;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
    
}
.selectMovie-img{

    width: 270px;
    grid-area: 1/1/2/3;
}

.movieDetail-score i{

    margin-right: 4px;
}

.movieDetail-description{

    grid-area: 3/1/4/3;
}

.movie-categories{
    
    width: 100%;
    grid-area: 4/1/5/3;
    display: flex;
    flex-wrap: wrap;
    
}

.relatedMovies-container{
    
    gap: 16px;
    
}

/*Liked movies section*/

.liked-header{
    
    padding: 12px;
}

/*Related movies container*/

.relatedMovies-container{

    display: grid;
    place-items: center;
    margin-bottom: 50px;
}

.relatedMovies-title{

    color: var(--white-smoke);
}

.relatedMovies-scrollContainer{

    display: grid;
    gap: 12px;
    
}

/*Footer styles*/

footer{

    background-color: var(--secondary-purple);
    width: 100%;
    height: 40px;
    display: grid;
    place-items: center;
    margin-top: 16px;
    
}

footer p{

    text-align: center;
}

.inactive{

    display: none !important;
}

/*Errors styles*/

.error-img-msg{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.error-img{

    width: 150px;
    height: 150px;
    position: relative;
    top: 50px;
}

.error-img-msg p{

    padding: 22px;
}